<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Check 'em out...</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="containter">
        <div class="row justify-content-center">
            <div class="col-4">

                <!-- //* [input] (output) -->


                <!-- Also works just calling registerToggle() directly -->
                <!-- <app-register [usersFromHomeComponent]="users" (cancelRegister)="registerToggle()"></app-register> -->


                <!-- PARENT(HOME) to CHILD(REGISTER) - users inside HOME component | usersFromHomeComponent inside REGISTER component  -->
                <app-register [usersFromHomeComponent]="users" (cancelRegister)="cancelRegisterMode($event)"></app-register>
                <!--  //! CHILD - REGISTER HTML -> (click) -> register.ts cancel() -> @Output() cancelRegister = EventEmitter -> HOME HTML -> (cancelRegister) -> home.ts -> cancelRegistration() -->
                
                <!-- //* $event object -->
                <!-- //* @Output() cancelRegister = new EventEmitter() - register.ts -->
            </div>
        </div>
    </div>
</div>